<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Estilistas</title>
</head>
<body>
    

    <div class="w3-container">
        <br>
        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/empleados/empleado1.png" style="width:100%" >
        </div>
        <div class="w3-cell w3-container">
            <h3 style="text-align: center;">Juan Pérez - Groomer Principal</h3>
            <br>
            <p style="text-align:start; ">Juan es nuestro groomer principal con más de 10 años de experiencia en el cuidado 
                y estilizado de mascotas. Especializado en cortes de raza y técnicas avanzadas de grooming, Juan combina habilidad
                 y creatividad para asegurar que cada mascota salga luciendo su mejor aspecto. Su pasión por los animales y 
                 su atención al detalle garantizan un servicio de alta calidad y una experiencia cómoda para tu peludo amigo.</p>
            </div>
        </div>
        <hr>


        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/empleados/empleado2.png" style="width:100%">
        </div>
        <div class="w3-cell w3-container">
        <h3 style="text-align: center;">Ana García - Groomer Asistente</h3>
        <br>
        <p style="text-align:start; ">Ana es una groomer asistente dedicada con 5 años de experiencia en el cuidado de perros y gatos. 
            Con una formación en técnicas de grooming y un enfoque en la higiene y el bienestar animal, Ana se asegura de que cada 
            mascota reciba el cuidado y la atención que merece. Su paciencia y habilidad para manejar mascotas de todas las 
            temperamentos hacen que cada visita sea relajante y agradable.</p>
        </div>
        </div>
        <hr>


        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/empleados/empleado7.jpg" style="width:100%">
        </div>
        <div class="w3-cell w3-container">
        <h3 style="text-align: center;">Laura Martínez - Especialista en Higiene y Cuidado</h3>
        <p style="text-align:start; ">Laura es nuestra especialista en higiene y cuidado, con 7 años de experiencia en la industria del
             grooming. Su enfoque se centra en servicios como limpieza de oídos, corte de uñas y tratamiento de glándulas anales, 
             asegurando que cada mascota esté sana y limpia. Laura es conocida por su amabilidad y su habilidad para calmar 
             a las mascotas nerviosas, haciendo que se sientan seguras y cómodas.</p>
        </div>
        </div>
        <hr>


        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/empleados/empleado4.jpg" style="width:100%">
        </div>
        <div class="w3-cell w3-container">
        <h3 style="text-align: center;">Sofía Rodríguez - Asistente de Grooming y Atención al Cliente</h3>
        <p style="text-align:start; ">Sofía es nuestra asistente de grooming y especialista en atención al cliente. Con 3 años de experiencia,
             Sofía se encarga de asistir en el baño, cepillado y cuidado general de las mascotas, además de gestionar las citas y 
             responder a las necesidades de nuestros clientes. Su amor por los animales y su habilidad para comunicarse 
             eficazmente con los dueños aseguran una experiencia fluida y satisfactoria en cada visita.</p>
        </div>
        </div>
 

</body>
</html>

<%- include('partials/footer') %>
