<%- include('partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Servicios</title>




    <div class="w3-container">
        <br>
        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/desnalado.jpg" style="width:100%" >
        </div>
        <div class="w3-cell w3-container">
            <h3 style="text-align: center;">Deslanado</h3>
            <br>
            <p style="text-align:start; ">Nuestro servicio de deslanado especializado ofrece una solución efectiva para eliminar el 
            exceso de pelo muerto y subpelo de tu mascota. Con técnicas profesionales y herramientas adecuadas, 
            promovemos la salud de su piel, reducimos la cantidad de pelos sueltos en tu hogar y mejoramos la 
            apariencia general de tu peludo amigo. </p>
            </div>
        </div>
        <hr>


        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/limpiezaOido.jpg" style="width:100%">
        </div>
        <div class="w3-cell w3-container">
        <h3 style="text-align: center;">Limpieza De Oido</h3>
        <br>
        <p style="text-align:start; ">En nuestro centro de cuidado y bienestar animal, ofrecemos un servicio especializado de limpieza 
            de oídos para perros y gatos. Nuestro equipo experto utiliza técnicas seguras y suaves para eliminar el exceso de cerumen y 
            residuos, promoviendo la salud auditiva de tu mascota. Con productos de alta calidad y atención personalizada, garantizamos 
            una limpieza efectiva y cómoda para tu peludo amigo.</p>
        </div>
        </div>
        <hr>


        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/uñasCorte.jpg" style="width:100%">
        </div>
        <div class="w3-cell w3-container">
        <h3 style="text-align: center;">Cortes De Uñas</h3>
        <p style="text-align:start; ">ofrecemos un servicio profesional de cortes de uñas para perros y gatos. Nuestro equipo capacitado 
            realiza cortes precisos y seguros para mantener las uñas de tu mascota en óptimas condiciones. Con técnicas adecuadas y cuidado
             especial, garantizamos una experiencia cómoda y libre de estrés para tu peludo amigo.
        </div>
        <hr>


        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/servicio/aplicacionPipeta.jpg" style="width:100%">
        </div>
        <div class="w3-cell w3-container">
        <h3 style="text-align: center;">Aplicacion Pipeta</h3>
        <p style="text-align:start; ">En nuestro centro veterinario, ofrecemos aplicaciones profesionales de pipetas para proteger a tu 
            mascota contra pulgas y garrapatas. Nuestro equipo experto garantiza una aplicación precisa y segura, utilizando productos de 
            calidad que brindan una protección efectiva.</p>
        </div>
        </div>
        <hr>


        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/servicio/bañadoperro.jpg" style="width:100%">
        </div>
        <div class="w3-cell w3-container">
        <h3 style="text-align: center;">Bañado De Mascota</h3>
        <p style="text-align:start; ">En nuestro centro de cuidado animal, ofrecemos un servicio de bañado profesional para perros y gatos.
             Utilizamos productos de alta calidad y técnicas especializadas para garantizar una limpieza profunda y segura para tu mascota.
              Nuestro equipo experto se asegura de proporcionar un baño cómodo y relajante, dejando a tu peludo amigo con un pelaje limpio, 
              suave y con un aroma fresco. </p>
        </div>
        </div>
        <hr>


        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/servicio/cortedepelo.jpg" style="width:100%">
        </div>
        <div class="w3-cell w3-container">
        <h3 style="text-align: center;">Corte De Pelo</h3>
        <p style="text-align:start; ">En nuestro centro de cuidado animal, ofrecemos servicios de corte de pelo profesional para perros y 
            gatos. Nuestro equipo experto en grooming utiliza técnicas precisas y cuidadosas para brindar un corte de pelo que se adapte a 
            las necesidades y preferencias de tu mascota, manteniendo su comodidad y estilo. Con atención personalizada 
            y productos de calidad, garantizamos resultados excepcionales que harán que tu peludo amigo luzca radiante.</p>
        </div>
        </div>
        <hr>


        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/servicio/exprimirglandulas.png" style="width:100%">
        </div>
        <div class="w3-cell w3-container">
        <h3 style="text-align: center;">Exprimir Glandulas Anales</h3>
        <p style="text-align:start; ">Ofrecemos un servicio profesional de exprimido de glándulas anales para perros y gatos. Nuestro equipo 
            experto realiza esta tarea de forma segura y cuidadosa para aliviar cualquier incomodidad o problema que pueda surgir en estas 
            glándulas. Con atención especializada y experiencia, garantizamos un procedimiento cómodo y efectivo para tu mascota.</p>
        </div>
        </div>
        <hr>


        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/servicio/humectacionpatitas.jpg" style="width:100%">
        </div>
        <div class="w3-cell w3-container">
        <h3 style="text-align: center;">Humectar almoadillas</h3>
        <p style="text-align:start; ">Ofrecemos un servicio especializado de hidratación de almohadillas para perros y gatos. Nuestro equipo 
            experto utiliza productos suaves y seguros para humectar y proteger las almohadillas de tu mascota, previniendo grietas y 
            sequedad. Con atención personalizada y técnicas profesionales, garantizamos unas almohadillas suaves y saludables para que tu 
            peludo amigo pueda caminar con comodidad.</p>
        </div>
        </div>
        <hr>


        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/servicio/limpiezabocal.jpg" style="width:100%">
        </div>
        <div class="w3-cell w3-container">
        <h3 style="text-align: center;">Limpieza Bocal</h3>
        <p style="text-align:start; ">Ofrecemos un servicio especializado de limpieza bucal para perros y gatos. Nuestro equipo experto utiliza 
            técnicas seguras y productos de calidad para eliminar el sarro y la placa bacteriana, promoviendo la salud dental de tu mascota. 
            Con atención personalizada y cuidado profesional, garantizamos una limpieza bucal efectiva y cómoda para tu peludo amigo. </p>
        </div>
        </div>
        <hr>


        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/servicio/limpiezaojo.jpg" style="width:100%">
        </div>
        <div class="w3-cell w3-container">
        <h3 style="text-align: center;">Limpieza Ojos</h3>
        <p style="text-align:start; ">Ofrecemos un servicio especializado de limpieza ocular para perros y gatos. Nuestro equipo experto
             utiliza productos suaves y seguros para eliminar cuidadosamente la suciedad y las secreciones de los ojos de tu mascota, 
             promoviendo la salud ocular y previniendo posibles irritaciones. Con atención personalizada y técnicas profesionales, 
             garantizamos una limpieza ocular efectiva y cómoda para tu peludo amigo.</p>
        </div>
        </div>
        <hr>


        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/servicio/narizhume.jpg" style="width:100%">
        </div>
        <div class="w3-cell w3-container">
        <h3 style="text-align: center;">Humectar Nariz</h3>
        <p style="text-align:start; ">Ofrecemos un servicio especializado de hidratación de nariz para perros y gatos. Nuestro equipo
             experto utiliza productos suaves y seguros para humectar y proteger la nariz de tu mascota, previniendo la sequedad y 
             las grietas. Con atención personalizada y técnicas profesionales, garantizamos una nariz suave y 
             saludable para tu peludo amigo.</p>
        </div>
        </div>
        <hr>


        <div class="w3-cell-row">
        <div class="w3-cell" style="width:30%">
        <img src="/imag/servicio/quitaranimales.jpg" style="width:100%">
        </div>
        <div class="w3-cell w3-container">
        <h3 style="text-align: center;">Quitar garrapatas Y Pulgas</h3>
        <p style="text-align:start; ">Ofrecemos un servicio especializado de eliminación de garrapatas y pulgas para garantizar el 
            bienestar de tu mascota. Nuestro equipo experto utiliza productos seguros y efectivos para eliminar estos parásitos molestos,
             protegiendo a tu peludo amigo de enfermedades y molestias. Con atención profesional y cuidado meticuloso, 
             aseguramos un ambiente libre de parásitos para tu mascota.</p>
        </div>
        </div>
        

</head>
<body>
    
</body>
</html>

<%- include('partials/footer') %>
